.container-nav {
	align-content: center;
	text-align: center;
	margin: 0px 50px 0px 50px;
}

.container-main {
	/*background-color: blue;*/
	margin: 0px 50px 0px 50px;
}

.col-md-4 {
	/*border-style: solid;
	border-color: grey;*/

}

.twit-contatiner {
	margin: 0px 0px 0px 0px;
	border-style: solid;
	border-color: grey;
}