
@import url('https://fonts.googleapis.com/css?family=Ranga:400,700');



*{
  box-sizing: border-box;
}
body, html{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("http://pre12.deviantart.net/ff60/th/pre/f/2014/267/9/e/make_a_wish_by_karimfakhoury-d80f6gv.jpg");
  font-family: 'Ranga', cursive;

 

  background-color: #FA8072;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4{
  font-weight: 300;
}
legend{
  border-bottom: 0;
}
fieldset{
  clear:both;
}



.header{
  
  background: #FA8072;
  position: absolute;
  top:0;
  left:0;
  right:0;
  padding: 20px 20px 20px;
  color: #fff;
  font-weight: 300;
  font-size: 20px;
}
.container .well{
  opacity: 0.1;
  filter: alpha(opacity=60);
  background-color: #98FB98;
  padding: 19px;
  margin-bottom: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  border: 0;
}
.container .well:hover {
  opacity: 0.9;
}
.form-group .control-label{
  color: rgba(0, 0, 0, 0.84);  
}
body .well .form-control{
  padding: 0;
  float: none;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  background: transparent;
  border-bottom: 1px solid #757575;
  height: 28px;
  margin-bottom: 30px;
}

.btn{
  font-size: 25px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.84);
  position: relative;
  padding: 8px 30px;
  border: 0;
  margin: 10px 1px;
  cursor: pointer;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.84);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none !important;
}
.btn:hover{
  
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
  background-color: #FA8072;
  color: rgba(255, 255, 255, 0.84);
}

.loader{
  opacity:0;
  top:0;
  left:50%;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  position: absolute;
}

.container .well.login{
  margin-top: 40px;
  padding-top: 110px;
  width:100%;
  position: relative;
}

.container .well.animate{
  animation-name: loadingBall;
  animation-duration: 900ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  
  
}

.animate .well{
  animation-name: fadeOutUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animate .loader,
.animate .checkmark.show{
  animation-name: zoomInBig;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-delay: 1s;
}
.animate .loader.done{
  animation-name: zoomOut;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-delay: 1s;
}
.animate .spinner{
  position: absolute;
  top:0;
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border-top: 6px solid #98FB98;
  animation-name: loadingCirlce;
  animation-duration: 900ms;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.animate .spinner2{
  position: absolute;
  top:0;
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border-top: 7px solid #FA8072;
  animation-name: loadingCirlce2;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}



@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}


@keyframes loadingCirlce {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
 
@keyframes loadingCirlce2 {
    0% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(450deg);
    }
}
 

@keyframes zoomInBig {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  1%{
    opacity: 1;
    transform: scale(2);
  }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}
@keyframes zoomOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.checkmark { font-family: 'Ranga', cursive;position: absolute; top:0; box-shadow: 0 0 10px rgba(0,0,0,0.2); left: 50%; opacity:0;margin-left: -2em; }
.checkmark { font-size: 3em; }
.checkmark { display: inline-block; width: 4em; height: 4em; background-color: #FA8072; color: #98FB98; box-shadow: 0 0 5px rgba(0,0,0,0.2); border-radius: 2em; overflow: hidden; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.checkmark > span { display: block; position: relative; width: 2em; height: 2em; transition: transform 0.5s ease; overflow: hidden; margin: 1em; }
.checkmark > span > span { display: block; background-color: #98FB98; position: absolute; top: 0; left: 0; width: 2em; height: 2em; transition: all 0.5s ease; border: 1px solid transparent; }
.checkmark > span > span { background-color: #98FB98; }
.checkmark > span > span { width: 1em; height: 0.4em; transform-origin: 100% 100%; transform: translate(-0.3em,1.4em) rotate(45deg); }
.checkmark > span > span.s3 { width: 1.8em; transform-origin: 0 100%; transform: translate(0.7em,1.4em) rotate(-45deg); }
